DATABASE_URL="postgresql://talao:talao@localhost:5433/talao?schema=public"
PORT=3001
QR_SECRET="change-me"
JWT_SECRET="change-me"
JWT_EXPIRES_IN="7d"
TMDB_API_KEY="your-tmdb-v3-api-key"
TMDB_BASE_URL="https://api.themoviedb.org/3"
